<div class="flex">
  <div class="w-1/3 mx-10 rounded overflow-hidden shadow-lg">
    <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      Teste
    </div>
  </div>

  <div class="w-1/3 mx-10 rounded overflow-hidden shadow-lg">
    <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      Teste
    </div>
  </div>

  <div class="w-1/3 mx-10 rounded overflow-hidden shadow-lg">
    <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      Teste
    </div>
  </div>
</div>
