<h1 class="text-5xl text-center text-teal-900 p-6">Sobre</h1>

<div class="w-full text-xl px-56 text-justify">
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O Sieve foi desenvolvido por
    alunos da Faculdade de Tecnologia de Botucatu, cursando o 5º Ciclo de Analise e Desenvolvimento de Sistemas.
    O Objetivo desse programa é auxiliar o mercado a ter um melhor controle de estoque e vendas, assim
    como gerar relatórios detalhados sobre todo o setor financeiro. O Sieve tem também a função de cadastro
    de fornecedores, clientes e funcionários, possibilitando o controle de usuários e senhas de cada funcionario,
    assim como suas permissões dentro do sistema.</p>

    <div class="flex mt-12 mb-6">
      <div class="flex flex-col w-1/3 mr-6 rounded overflow-hidden shadow-lg bg-white">
        <div class="flex-1 mx-3 px-3 mt-6 mb-2 pb-2 pt-2 border-l-4 text-base break-words">
            Responsável pelo desenvolvimento da aplicação juntamente com o levantamento de requisitos.
        </div>
        <div class="flex items-center px-6 py-4">
          <img class="w-16 h-16 rounded-full mr-4" src="/assets/gabriel.jpg">
          <div class="text-lg">
            <p class="text-gray-900 leading-none">Gabriel Pupim</p>
          </div>
        </div>
      </div>

      <div class="flex flex-col w-1/3 mx-8 rounded overflow-hidden shadow-lg bg-white">
        <div class="flex-1 mx-3 w-auto px-3 mt-6 mb-2 pb-2 pt-2 border-l-4 text-base break-words">
            Responsável pela maior parte da documentação do sistema.
        </div>
        <div class="flex align-bottom items-center px-6 py-4" style="height: 45%;">
          <img class="w-16 h-16 rounded-full mr-4" src="/assets/gustavo.jpg">
          <div class="text-lg">
            <p class="text-gray-900 leading-none">Gustavo Berto</p>
          </div>
        </div>
      </div>

      <div class="flex flex-col w-1/3 ml-6 rounded overflow-hidden shadow-lg bg-white">
        <div class="flex-1 mx-3 px-3 mt-6 mb-2 pb-2 pt-2 border-l-4 text-base break-words">
            Responsável pelo desenvolvimento da aplicação juntamente com a sua documentação.
        </div>
        <div class="flex items-center px-6 py-4">
          <img class="w-16 h-16 rounded-full mr-4" src="/assets/wallace.jpg">
          <div class="text-lg">
            <p class="text-gray-900 leading-none">Wallace Moura</p>
          </div>
        </div>
      </div>
    </div>

</div>

